@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center">
    <h1 class="display-4">
        Sessão de cadastro
    </h1>
    <div>
        <a class="btn btn-success btn-toolbar" role="button" asp-controller="Register" asp-action="Fornecedor" role="button">Registrar fornecedor</a>
    </div>
    <div>
        <a class="btn btn-info btn-toolbar" role="button" asp-controller="Register" asp-action="Produto" role="button">Registrar produto</a>
    </div>
</div>
