@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center">
    <div>
        <a class="btn btn-success btn-toolbar" role="button" asp-controller="View" asp-action="Fornecedores">Lista de fornecedores</a>
    </div>
    <div>
        <a class="btn btn-primary btn-toolbar" role="button" asp-controller="View" asp-action="Produtos">Lista de produtos</a>
    </div>
    <div>
        <a class="btn btn-warning btn-toolbar" role="button" asp-controller="View" asp-action="Pedidos">Lista de pedidos</a>
    </div>
    <div>
        <a class="btn btn-info btn-toolbar" role="button" asp-controller="View" asp-action="Pedidos_itens">Lista de itens por pedido</a>
    </div>
</div>

