@{
    ViewData["Title"] = "Apagar dado";
}

<div class="text-center">
    <h3>Você tem certeza que deseja apagar esse registro?</h3>
</div>

<a class="btn btn-primary" role="button" asp-controller="View" asp-action="Fornecedores">Cancelar</a>
<a class="btn btn-danger" role="button" asp-controller="Delete" asp-action="ApagarFornecedor">Confirmar</a>